body 
{
	padding-top: 92px; 
}

article
{
	height: 60vh;
	width: 80%;
	margin: auto;
}

h1, h2, h3, h4, h5, h6, a
{
    font-family: 'Hero', Tahoma, Geneva, sans-serif;
    color:#FFFFFF !important;
    letter-spacing: 1px;
}

h1{
	font-size: 60pt;
	font-weight: 500;
	text-align: center;
	padding-top: 30px;
}
h2{
	max-width: 700px;
	margin: auto;
	padding-top: 30px;
}

a
{
	font-weight: 600 !important;
}

.navbar-default
{
	height: 15vh;
}

.black
{
	background-color: #242d34;
}

.icon
{
	padding-right: 5px;
	color:#FFFFFF;
}

@font-face {
    font-family: 'Hero';
    src: url('fonts/HeroLight.otf');
    font-weight: normal;
    font-style: normal;
}





